<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/design.css">
    <title>NodeChat</title>
</head>
<body> 
    <%- include('nav.ejs') %>
    <div id="container">
    <div class="login123">
        <img class="loginLogo" src="/public/image/NODE CHAT.png" alt="">
        <!-- <h1>LOGIN</h1> -->
        <form action="/login" method="POST">
        <div>
            <!-- <label for="">아이디</label> -->
            <input placeholder="아이디" class="id" type="text" name="id">
        </div>
        <div>
            <!-- <label for="">비밀번호</label> -->
            <input placeholder="비밀번호" class="pw" type="text" name="pw">
        </div>
        <button class="loginButton" type="submit">로그인</button>
    </form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>


<script>
    

   


</script>
</body>
</html>