<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/design.css">
    <title>Document</title>
</head>
<body> 
    <%- include('nav.ejs') %>
    <div id="container">
    <div id="member">
        <img class="loginLogo" src="/public/image/NODE CHAT.png" alt="">
        <form action="/member" method="POST">
            <div>
                <input class="name" placeholder="닉네임" type="text" name="name">
            </div>
        <div>
            <input class="id" placeholder="아이디" type="text" name="id">
        </div>
        <div>
            <input class="pw" placeholder="비밀번호" type="text" name="pw">
        </div>
        <button class="memberButton" type="submit">회원가입</button>
    </form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>


<script>
//  if(localStorage.getItem('login') == 'true'){
//         $('.login').html('<a class="borderCss" href="/logout">로그아웃</a>')
//         $('.member').hide()
        
//     } else{
//         $('.login').html('<a class="borderCss" href="/login">로그인</a>')
//         $('.member').show()
//     }
</script>
</body>
</html>